<h2>All known corporations</h2>

Corporations:
<table class="table">
  <tr>
    <th>Corporation Id</th>
    <th>Corporation Name</th>
    <th>Alliance Name</th>
    <th>CEO Name</th>
    <th>Member Count</th>
    <th></th>
  </tr>

<% @corporation_ids.each do |id| %>
  <tr>
    <td><%= id %></td>
    <td>--</td>
    <td>--</td>
    <td>--</td>
    <td>--</td>
    <td><%= link_to 'Show', corporation_path(id) %></td>
  </tr>
<% end %>
</table>

