<h2>All known corporations</h2>

Corporations:
<div id="corporations">
  <table class="table">
    <tr>
      <th>Corporation Name</th>
      <th>Alliance Name</th>
      <th>CEO Name</th>
      <th>Member Count</th>
    </tr>

  <% @corporation_ids.each do |id| %>
    <tr id="<%= id %>" class="corporation">
      <td class="corporation-name"><%= link_to "#{id}", corporation_path(id) %></td>
      <td class="corporation-alliance-name">Loading...</td>
      <td class="corporation-ceo-name">Loading...</td>
      <td class="corporation-membercount">Loading...</td>
    </tr>
  <% end %>
  </table>
</div>
