<%= form_for(@scouting_control_tower) do |f| %>
  <% if @scouting_control_tower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scouting_control_tower.errors.count, "error") %> prohibited this scouting_control_tower from being saved:</h2>

      <ul>
      <% @scouting_control_tower.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
