<h1>Welcome!</h1>

<% if current_user.role == "unverified" %>
  <p>Thanks for confirming your account!<br />
  An Admin has been notified and will review if you get any roles.<br />
  For now, relax and grab a glass of bourbon.</p>
<% end %>
