<h1>Listing Reinforcement Timers</h1>

<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>Expires at</th>
    <th></th>
  </tr>

<% @reinforcement_timers.each do |reinforcement_timer| %>
  <tr>
    <td><%= reinforcement_timer.expires_at %></td>
    <td><%= link_to 'Show', reinforcement_timer %></td>
  </tr>
<% end %>
</table>

<%= paginate @reinforcement_timers %>
